<div class="contenedor">
  <div class="izquierda">
    <div class="l">
      <img src="../../../assets/cc.png" alt="10px" class="img-fluid" />
      <span class="text">Sound <strong>Thezer</strong></span>
    </div>
    <div class="cr">
      <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="cr">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
  <div class="derecha">
    <ul>
      <button routerLink="/video">Video</button>
      <button routerLink="/music">Música</button>
    </ul>

    <div *ngIf="usuario" class="login-menu">
      <button (click)="toggleMenu()">
        <i class="fas fa-user"></i>
        <p>{{ usuario.name | uppercase }}</p>
      </button>
      <div class="menu" *ngIf="isMenuOpen">
        <div class="menu-item">Mi perfil</div>
        <div routerLink=" " class="menu-item">Cerrar sesión</div>
      </div>
    </div>

  </div>
</div>
