.contenedor {
    display: flex;
    justify-content: space-between;
    background-color: hsl(198.26,14.29%,31.57%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

  .izquierda {
    display: flex;
    align-items: center;
    margin-left: 13px;
  }

  .derecha {
    display: flex;
    align-items: center;
    margin-right: 13px;
  }

  .derecha ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  .derecha ul li {
    color: #000;
  }
  .cr{
    border-radius: 50%;
    background-color:  hsl(200, 11%, 11%);
    width: 19px;
    text-align: center;
    padding: 5px;
    color: #ffffffa4;
    margin-right: 5px;
    cursor: pointer;
  }
.bl {
  background-color: #fff;
  margin-left: 10px;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 18px;
  transition: transform 0.3s; /* Agrega una transición suave al efecto de zoom */
}

.bl:hover {
  transform: scale(1.1); /* Aplica un zoom del 110% al pasar el mouse por encima */
}
  a{
    color: #ffffffc4;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .l{
    margin-right: 20px;
  }
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: #ffffffbe;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}
button:hover {

  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}

