<div class="contenedor">
    <div class="izquierda">
      <div class="l">
        <img src="../../../assets/Logo.png" alt="10px" width="130" height="50">
      </div>
        <div class="cr">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="cr">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    <div class="derecha">
        <ul>
            <button routerLink="/video">Video</button>
            <button routerLink="/music">Música</button>
        </ul>

            <p routerLink="" class="bl">Iniciar sesión</p>

    </div>
</div>
