/* contenedor*/
.contenedor {
  display: flex;
  justify-content: space-between;
  background-color: hsl(198.26, 14.29%, 31.57%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* content iz*/
.izquierda {
  display: flex;
  align-items: center;
  margin-left: 13px;
}
/* content der*/
.derecha {
  display: flex;
  align-items: center;
  margin-right: 13px;
}
/* list*/
.derecha ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
/* font iconos <>*/
.cr {
  border-radius: 50%;
  background-color: hsl(200, 11%, 11%);
  width: 19px;
  text-align: center;
  padding: 5px;
  color: #ffffffa4;
  margin-right: 5px;
  cursor: pointer;
}
/* boton iniciar sesion*/
.bl {
  background-color: #fff;
  margin-left: 10px;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 18px;
  transition: transform 0.3s;
}
/* boton hover*/
.bl:hover {
  transform: scale(1.1);
}
/* enlaces */
a {
  color: #ffffffc4;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}
/* content img*/
.l {
  margin-right: 20px;
}
/* botones quitando style*/
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: #ffffffbe;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}
/* boton hover*/
button:hover {
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .cr {
    display: none;
  }
  ul{
    padding: 0;
  }
  .bl{
    padding: 2px;
  }
  .contenedor {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
}
