/* Contenedor*/
.contenedor {
  background-color: black;
}
/* contenedor home*/
.home {
  padding: 10px 10px 10px 10px;
  background-color: rgb(21, 21, 21);
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* contendor icono y enlace*/
.c1 {
  padding: 5px;
}
/* Enlace */
i {
  color: #e7e7e7b4;
}
/* icono hover*/
i:hover {
  color: #fff;
  cursor: pointer;
}
/* informacion*/
.informacion {
  padding: 10px;
  background-color: rgb(18, 18, 18);
  height: auto;
  border-radius: 5px;
}
/* enlace */
a {
  font-size: 13px;
  margin-left: 10px;
  padding-bottom: 4px;
  color: #e7e7e78f;
}
/*hover enlace*/
a:hover {
  color: #fff;
}
/* biblioteca icono*/
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* contenedor biblioteca*/
.item1 {
  margin-top: 10px;
  background-color: rgb(36, 36, 36);
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* Crea tu primera lista span*/
p span {
  font-weight: 550;
  color: #fff;
  font-size: 12px;
}
/* parrafo */
p {
  font-size: 10px;
  color: #fff;
  font-weight: 100;
}
/* boton 1*/
.bn {
  background-color: #fff;
  border-radius: 40px;
  width: 90px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}
/*hover boton 1*/
.bn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* texto boton*/
.bn p,
.m p {
  color: black;
  font-size: 11px;
  font-weight: 400;
  margin: 9px;
  padding: 8px;
}
/* boton 2*/
.m {
  background-color: #fff;
  border-radius: 40px;
  width: 130px;
  text-align: center;
  margin-top: 18px;
  transition: transform 0.3s;
}
/* boton 2 hover*/
.m:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* copiright*/
.copi {
  margin-top: 238px;
  text-align: justify;
}
/* parrafo */
.copi p {
  color: #e7e7e78f;
}
/* contendor idioma */
.idioma {
  border: 1px solid #e7e7e78f;
  border-radius: 40px;
  padding: 6px;
  width: 150px;
  text-align: center;
  padding-bottom: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* idioma enlace*/
.idioma a {
  color: #fff;
  font-size: 11px;
}
/* idioma icono*/
.idioma i {
  color: #fff;
}
/* contenedor descargar*/
.des {
  position: absolute;
  margin-left: 10px;
}
/* enlace descarga*/
.c2 a {
  font-size: 30px;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* icono youtube */
.c2 i {
  color: #cf2726;
  font-size: 30px;
}
/* boton descarga*/
.con {
  padding: 6px;
  border: none;
  border-radius: 5px;
  background-color: hsl(180, 17%, 21%);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
