<div class="cnt">
  <div class="contenedor">
    <div class="home">
      <div class="c1">
        <i class="fa-solid fa-house"></i><a href="">Inicio</a>
      </div>
      <div class="c1">
        <i class="fa-solid fa-building"></i
        ><a href="">Sobre Nosotros</a>
      </div>
    </div>
    <div class="informacion">
      <div class="row">
        <div class="c1">
          <i class="fa-solid fa-wallet"></i><a href="">Tu biblioteca</a>
        </div>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="ply">
        <div class="cuad">
          <i class="fa-solid fa-music"></i>
        </div>
        <div class="cuad2">
          <p>Mi playlist n.º1</p>
          <p class="ps">Playlist . {{usuario.name | titlecase}}</p>
        </div>
      </div>
      <div class="item1">
        <p><span>Crea tu primera lista</span></p>
        <p>Es muy facil, y te echaremos una mano</p>
        <div class="bn">
          <p>Mi lista de videos</p>
        </div>
      </div>
      <div class="item1">
        <p><span>Encuentra pódcass que quiereas seguir</span></p>
        <p>Te avisaremos caundo salgan nuevos episodios</p>
        <div class="m">
          <p>Explorar pódcasts</p>
        </div>
      </div>
      <div class="des">
        <div class="c2">
          <i class="fa-brands fa-youtube"></i><a href="https://www.youtube.com/" target="_blank">YouTube</a>
        </div>
        <button
          [disabled]="isButtonDisabled"
          class="con"
          (click)="openDialog()"
          [ngClass]="{ disabled: isButtonDisabled }"
        >
          CONVERTIDOR DE VIDEO
        </button>
      </div>
      <div class="copi">
        <p>
          Legal &nbsp;&nbsp; Centro de privacidad &nbsp;&nbsp; Politica
          privacidad &nbsp;&nbsp;&nbsp; Cookies &nbsp;&nbsp;
        </p>
        <p>Informacion sobre los anuncios &nbsp;&nbsp; &nbsp; Accesibilidad</p>

        <div class="idioma">
          <i class="fa-solid fa-globe"></i><a href="">Español de españa</a>
        </div>
      </div>
    </div>
  </div>
</div>
