/* dialog*/
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
}
.dialog-container {
  position: fixed;
  top: 10%;
  left: 28%;
  margin-top: 100px;
  padding: 20px;
  border-radius: 7px;
  width: 800px;
  background-color: hsl(218, 11%, 15%);
  text-align: center;
  z-index: 1;
}
/* title */
h1 {
  color: #00b887;
  margin: 0;
  margin-top: 10px;
}
/* subtitle */
h2 {
  color: #ccc;
  font-size: 14px;
}
/* label - input*/
.row label {
  width: 80%;
  color: #00b887;
  font-weight: 600;
  text-transform: uppercase;
}
/* input */
.row input {
  width: 80%;
  padding: 14px;
  flex-grow: 1;
  border: 1px solid #00b887 !important;
  border-radius: 4px;
  margin: 4px;
}
/* botones */
.row2 {
  margin-top: 20px;
  text-align: left;
  margin-left: 40px;
}
/* boton aceptar */
.aceptar {
  background-color: #00b887;
  padding: 7px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
/* boton cancelar */
.cancelar {
  background-color: #008db8;
  padding: 7px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* MENOR A 760px*/
@media screen and (max-width: 1025px) {

}
