<div class="dialog-container">
  <h1>Descargar música de Youtube en línea</h1>
  <h2>Descargar música de Youtube 365 kbs, en Android</h2>
  <form [formGroup]="addMusica" #form="ngForm">
    <div class="row">
      <label for="url">Url: </label>
      <input
        formControlName="url"
        class="form-control"
        type="url"
        placeholder="Pegue el enlace de Youtube aquí."
      />
      <span
        style="
          color: red;
          display: block;
          text-align: left;
          margin-left: 82px;
          font-weight: 600;
        "
        *ngIf="addMusica.get('url')?.dirty && addMusica.get('url')?.invalid"
      >
        Invalido
      </span>
    </div>
    <div class="row2">
      <button
        (click)="submitForm()"
        [disabled]="addMusica.invalid"
        [ngClass]="{ disabled: addMusica.get('url')!.invalid }"
        class="aceptar"
        mat-raised-button
        color="primary"
      >
        Descargar
      </button>
      <button
        class="cancelar"
        mat-raised-button
        color="warn"
        (click)="closeDialog()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
