/* Contendor*/
.contenedor {
  background-color: black;
}
/* Home */
.home {
  padding: 10px 10px 10px 10px;
  background-color: rgb(21, 21, 21);
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* contendor*/
.c1 {
  padding: 5px;
}
/* icono */
i {
  color: #e7e7e7b4;
}
/* icono hover*/
i:hover {
  color: #fff;
  cursor: pointer;
}
/* informacion*/
.informacion {
  padding: 10px;
  background-color: rgb(18, 18, 18);
  height: auto;
  border-radius: 5px;
}
/* enlaces */
a {
  font-size: 13px;
  margin-left: 10px;
  padding-bottom: 4px;
  color: #e7e7e78f;
}
/* enlace hover*/
a:hover {
  color: #fff;
}
/* fila biblioteca*/
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* item1*/
.item1 {
  margin-top: 20px;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* playlist*/
.pl {
  background-color: rgb(33, 33, 33);
  width: 70px;
  border-radius: 23px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
  color: #fff;
  padding-left: 1px;
  padding-right: 1px;
  margin: 0;
}
/* contenedor playlist*/
.ply {
  display: flex;
}
/* icono cuadrado*/
.cuad {
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  height: 35px;
  margin-top: 10px;
}
/* parrafo span*/
p span {
  font-weight: 550;
  color: #fff;
  font-size: 12px;
}
/* cuadrado letras*/
.cuad2 {
  margin-left: 12px;
}
/* title playlist */
.ps {
  color: #ccc;
}
/* parrafo*/
p {
  font-size: 11px;
  color: #fff;
  font-weight: 100;
}
/* copirigth */
.copi {
  margin-top: 366px;
  text-align: justify;
}
/* parrafo copirigth*/
.copi p {
  color: #e7e7e78f;
}
/* contenedor idioma*/
.idioma {
  border: 1px solid #e7e7e78f;
  border-radius: 40px;
  padding: 6px;
  width: 150px;
  text-align: center;
  padding-bottom: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* enlace idioma*/
.idioma a {
  color: #fff;
  font-size: 11px;
}
/* icono idioma*/
.idioma i {
  color: #fff;
}
