<div class="contenedor">
  <div class="home">
      <div class="c1"><i class="fa-solid fa-house"></i><a href="">Inicio</a></div>
      <div class="c1"><i class="fa-sharp fa-solid fa-magnifying-glass"></i><a href="">Buscar</a></div>
  </div>
  <div class="informacion">
      <div class="row">
          <div class="c1"><i class="fa-solid fa-wallet"></i><a href="">Tu biblioteca</a></div>
          <i class="fa-solid fa-plus"></i>
      </div>
      <div class="item1">
          <div class="pl">Playlists</div>
          <div class="ply">
            <div class="cuad">
              <i class="fa-solid fa-music"></i>
            </div>
            <div>
              <p>Mi playlists</p>
              <p>Playlist . JHAIR ARONE ANGELES</p>
            </div>
          </div>
      </div>
      <div class="copi">
          <p>Legal &nbsp;&nbsp;  Centro de privacidad  &nbsp;&nbsp;  Politica privacidad   &nbsp;&nbsp;&nbsp; Cookies &nbsp;&nbsp;</p>
          <p> Informacion sobre los anuncios  &nbsp;&nbsp; &nbsp;  Accesibilidad </p>

          <div class="idioma">
              <i class="fa-solid fa-globe"></i><a href="">Español de españa</a>
          </div>
      </div>
  </div>
</div>
