<div class="contenedor">
  <div class="home">
    <div class="c1"><i class="fa-solid fa-house"></i><a href="">Inicio</a></div>
    <div class="c1">
      <i class="fa-solid fa-building"></i
      ><a
        href="https://www.facebook.com/JheysonJhair.AroneAngeles.2003/"
        target="_blank"
        >Sobre Nosotros</a
      >
    </div>
  </div>
  <div class="informacion">
    <div class="row">
      <div class="c1">
        <i class="fa-solid fa-wallet"></i><a href="">Tu biblioteca</a>
      </div>
      <i class="fa-solid fa-minus"></i>
    </div>
    <div class="item1">
      <div class="pl">Playlists</div>
      <div class="ply">
        <div class="cuad">
          <i class="fa-solid fa-music"></i>
        </div>
        <div class="cuad2">
          <p>Mi playlist n.º1</p>
          <p class="ps">Playlist . {{ usuario.name | titlecase }}</p>
        </div>
      </div>
    </div>
    <div class="des">
      <div class="c2">
        <i class="fa-brands fa-youtube"></i
        ><a href="https://www.youtube.com/" target="_blank">YouTube</a>
      </div>
      <button
        [disabled]="isButtonDisabled"
        class="con"
        (click)="openDialog()"
        [ngClass]="{ disabled: isButtonDisabled }"
      >
        CONVERTIDOR DE MÚSICA
      </button>
    </div>
    <div class="copi">
      <p>
        Legal &nbsp;&nbsp; Centro de privacidad &nbsp;&nbsp; Politica privacidad
        &nbsp;&nbsp;&nbsp; Accesibilidad &nbsp;&nbsp;
      </p>
      <p>CREDITOS:</p>
      <p>Derecho de autor - CControlZ</p>
      <div class="idioma">
        <i class="fa-solid fa-globe"></i><a href="">Español de españa</a>
      </div>
    </div>
  </div>
</div>
