<div class="header">
  <div class="head">
    <div>
      <img  width="100px" src="../../../assets/Logo2.png" alt="" />
    </div>
  </div>
</div>
<body>
  <div class="main">
    <h1>Regístrate gratis para escuchar</h1>
    <div class="form">
      <form [formGroup]="addUser" (ngSubmit)="addUsuario()" action="">
        <div class="row-input-label">
          <div class="label">
            <label for="name">Nombre de usuario</label>
          </div>
          <div>
            <input
              formControlName="name"
              type="name"
              placeholder="Crea tu nombre de usuario."
              [ngClass]="{
                valid: addUser.get('name')!.valid,
                invalid:
                  addUser.get('name')!.invalid &&
                  (addUser.get('name')!.dirty ||
                    addUser.get('name')!.touched)
              }"
            />
          </div>
        </div>
        <div class="row-input-label">
          <div class="label">
            <label for="Email">¿Cuál es tu email?</label>
          </div>
          <div>
            <input
              formControlName="email"
              type="email"
              placeholder="Introduce tu email."
              [ngClass]="{
                valid: addUser.get('email')!.valid,
                invalid:
                  addUser.get('email')!.invalid &&
                  (addUser.get('email')!.dirty || addUser.get('email')!.touched)
              }"
            />
          </div>
        </div>
        <div class="row-input-label">
          <div class="label">
            <label for="password">Crea una contraseña</label>
          </div>
          <div>
            <input
              formControlName="password"
              type="password"
              placeholder="Crea una contraseña"
              [ngClass]="{
                valid: addUser.get('password')!.valid,
                invalid:
                  addUser.get('password')!.invalid &&
                  (addUser.get('password')!.dirty ||
                    addUser.get('password')!.touched)
              }"
            />
          </div>
        </div>
        <div class="row-input-label boton_register">
          <button
            type="submit"
            [disabled]="addUser.invalid"
            routerLinkActive="router-link-active"
            [ngClass]="{ disabled: addUser.get('email')!.invalid || addUser.get('password')!.invalid|| addUser.get('name')!.invalid }"
            class="boton"
          >
            Registrarse
          </button>
        </div>
      </form>
    </div>
    <div class="a">
      <span>¿Ya tienes cuenta? </span
      ><a [routerLink]="['']" href="">Iniciar sesión</a>
    </div>
  </div>
</body>
