/* Contendor general*/
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
}
/*----------------------*/
/* head */
.contenedor {
  display: flex;
  justify-content: space-between;
  background-color: hsl(60, 2%, 40%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* head izquierda*/
.izquierda {
  display: flex;
  align-items: center;
  margin-left: 13px;
}
/* head derecha*/
.derecha {
  display: flex;
  align-items: center;
  margin-right: 13px;
}
/**/
.derecha ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
/* enlaces <>*/
.cr {
  border-radius: 50%;
  background-color: hsl(200, 11%, 11%);
  width: 19px;
  text-align: center;
  padding: 5px;
  color: #ffffffa4;
  margin-right: 5px;
  cursor: pointer;
}
/* boton iniciar sesion*/
.bl {
  background-color: #fff;
  margin-left: 10px;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 18px;
  color: #000;
  transition: transform 0.3s; /* Agrega una transición suave al efecto de zoom */
}
/* botones */
.dd {
  padding: 0;
}
/* boton hover*/
.bl:hover {
  transform: scale(
    1.1
  ); /* Aplica un zoom del 110% al pasar el mouse por encima */
}
/* logo margin*/
.l {
  margin-right: 20px;
}
/* botones por defecto */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: #ffffffbe;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 600;
  margin-right: 5px;
}
/* boton hover*/
button:hover {
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
/* contenedor musica*/
.cont {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 10px;
  background: linear-gradient(
    to bottom,
    hsl(30, 38%, 84%),
    hsl(35, 27%, 32%) 100%
  );
  padding: 23px;
  place-items: center;
}
/* parrafo e icono*/
.row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
/* audio */
.audio-container {
  background-color: #f1f3f4;
  border-radius: 5px;
  padding: 3px;
}
/* margin */
.row > div {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
/* icono */
.row i {
  color: hsl(141.41, 75.51%, 48.04%);
  font-size: 19px;
}
/* contendor tile img parrafo */
.c1 {
  display: flex;
  margin-right: 70px;
}
/* contenedor imagen */
.img {
  position: left;
  display: inline-block;
  width: 220px;
}
/* title */
h1 {
  font-size: 60px;
  color: #fff;
  margin: 10px;
}
/* mr parrafo */
.mr {
  margin-left: 10px;
}
/* parrafo*/
p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
/* imagen*/
.img img {
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
/* title list*/
.card-body .h {
  text-transform: uppercase;
}
/* title */
.card-body h3 {
  color: #ffffff7c;
  font-size: 14px;
}
/* contenedor lista*/
.lista {
  background-color: rgb(27, 27, 24);
  height: 445px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
}
/* font title*/
h3 {
  color: #0d0d0df5;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
}
/* ayuda general*/
.text-info {
  color: rgb(35, 174, 255);
}
.text-danger {
  color: rgb(242, 83, 83);
}

.text-verde {
  color: hsl(141.41, 75.51%, 48.04%);
}
/* scroll */
.cn {
  height: 364px; /* Ajusta la altura máxima según tus necesidades */
  overflow: auto;
}
/* tabla*/
.table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}
/* titulo tabla */
.table th {
  padding: 10px;
  text-align: left;
  color: #ffffffd2;
}
/* contenido tabla*/
.table td {
  padding: 10px;
  text-align: left;
  color: #ffffff7f;
}
/* hover*/
.table-hover tbody tr:hover {
  background-color: #e0e0e058;
}
/* iconos tabla*/
.table i {
  cursor: pointer;
}
/* borde tabla*/
thead {
  border-bottom: 1px solid #fff;
}
/* no hay music*/
h5 {
  margin: 15px;
}
