<div class="container">
  <div class="item">
    <app-asidetwo></app-asidetwo>
  </div>
  <div class="item">
    <div class="contenedor">
      <div class="izquierda">
        <div class="l">
          <img
            src="../../../assets/Logo.png"
            alt="10px"
            width="130"
            height="50"
          />
        </div>
        <div class="cr">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="cr">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
      <div class="derecha">
        <ul>
          <button class="dd" routerLink="/video">Video</button>
          <button class="dd" routerLink="/music">Música</button>
        </ul>

        <p routerLink="" class="bl">Iniciar sesión</p>
      </div>
    </div>
    <div class="cont">
      <div class="c1">
        <div class="img">
          <img src="../../../assets/img/Logo2.jpg" alt="" />
        </div>
        <div>
          <p class="mr">Play List</p>
          <h1>Peaceful Piano</h1>
          <div class="row">
            <div>
              <i class="fa-brands fa-spotify mr"></i>
            </div>
            <div>
              <p>Peaceful piano to help you slow down, brethe adn relax.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="audio-container">
        <audio controls *ngIf="src">
          <source [src]="src" type="audio/mp3" />
          Tu navegador no admite la reproducción de audio.
        </audio>
        <audio id="custom-audio" *ngIf="visible" controls>
          <source [src]="src" type="audio/mp3" />
          Tu navegador no admite la reproducción de audio.
        </audio>
        <!--<input type="file" (change)="onFileSelected($event)" accept="audio/*" />-->
        <label style="padding-left: 5px; padding-right: 5px; padding-top: 1px;padding-bottom: 1px; margin: 0;" for="upload-btn" class="upload-btn-label">
          <input
            type="file"
            id="upload-btn"
            accept="audio/*"
            (change)="onFileSelected($event)"
          />
          <i  class="fa-sharp fa-solid fa-upload"></i>
        </label>
      </div>
    </div>
    <div class="lista">
      <div class="card">
        <div class="card-body">
          <h3 class="h">Listado de músicas a descargar</h3>
          <div class="cn">
            <table *ngIf="listMusic.length > 0" class="table table-hover mt-3">
              <thead>
                <tr>
                  <th class="bol">Artista</th>
                  <th class="bol">Descripción</th>
                  <th class="bol">Link</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let music of listMusic">
                  <td>{{ music.name }}</td>
                  <td>{{ music.description }}</td>
                  <td>{{ music.url }}</td>
                  <td>
                    <i
                      (click)="descargarAudioUsuario(music.id)"
                      class="fa-solid fa-download text-info"
                    ></i>
                  </td>
                  <td>
                    <i
                      (click)="playMusic(music.id)"
                      class="fa-solid fa-play text-verde"
                    ></i>
                  </td>
                  <td>
                    <i
                      (click)="deleteMusic(music.id)"
                      class="far fa-solid fa-trash-can text-danger"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
