<app-head></app-head>
<div class="cont">
    <div class="c1">
        <div class="img">
            <img src="../../../assets/img/c8e0605567e98d794a7f43a7050bd998.jpg" alt="">
        </div>
        <div>
            <h1>Peaceful Piano</h1>
            <div class="row">
                <div>
                    <i class="fa-brands fa-spotify"></i>
                </div>
                <div><p>Peaceful piano to help you slow down, brethe adn relax.</p></div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="video-player-wrapper">
          <vg-player  (onPlayerReady)="videoPlayerInit($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
              <vg-track-selector></vg-track-selector>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <video #media [vgMedia]="$any(media)" [src]="currentVideo.src" id="singleVideo" preload="auto" crossorigin>
            </video>
          </vg-player>
        </div>
      </div>
</div>