/* contenedor*/
.container {
  min-height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
}
/* contenedor realative*/
.cv {
  position: relative;
}
/*-------------------------------*/
/* contenedor video*/
.cont {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 10px;
  background: linear-gradient(
    to bottom,
    hsl(201, 21%, 70%) 0%,
    hsl(200.63, 13.79%, 30%) 100%
  );
  padding: 10px;
  place-items: center;
}
/* contendor titulo*/
.row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
/* div icono y subtitle*/
.row > div {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
/* icono */
.row i {
  color: hsl(237, 97%, 13%);
  font-size: 19px;
}
/* contenedor imagen */
.img {
  position: left;
  display: inline-block;
  width: 220px;
}
/* title */
h1 {
  font-size: 60px;
  color: #fff;
  margin: 7px;
  margin-bottom: 15px;
}
/* parrafo*/
p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
/* imagen*/
.img img {
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
/* video iframe*/
.video-player-wrapper {
  width: 100%;
  height: 300px;
  margin-right: auto;
}
/*form*/
form {
  padding: 20px;

  width: 90%;
  background-color: hsl(197.14, 12.07%, 22.75%);
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 0.3fr;
  grid-gap: 10px;
}
.form {
  background-color: hsl(197.14, 12.07%, 22.75%);
}
/* title cont*/
.form .h {
  text-transform: uppercase;
  background-color: hsl(197.14, 12.07%, 22.75%);
}
/* title form*/
.form h3 {
  color: #ffffffaa;
  font-size: 14px;
}
/* title cont */
.card-body .h {
  text-transform: uppercase;
}
/*subtitle h3*/
.card-body h3 {
  color: #ffffff7c;
  font-size: 14px;
}
/* input */
.form input {
  width: 80%;
  padding: 7px;
  border: none;
  border-radius: 4px;
}
/* label */
label {
  margin-right: 6px;
  color: #ffffffae;
  font-size: 16px;
}
/* boton aceptar*/
button {
  width: 90%;
  background-color: hsl(141.41, 75.51%, 48.04%);
  border: none;
  padding-left: 15px;

  padding-right: 19px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}
/*content lista*/
.lista {
  background-color: rgb(63, 73, 75);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  height: calc(100% - 502px);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
/* title lista*/
h3 {
  color: #0d0d0df5;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
}
/* ayuda botones*/
.text-info {
  color: rgb(35, 174, 255);
}
.text-danger {
  color: rgb(242, 83, 83);
}

.text-verde {
  color: hsl(141, 91%, 43%);
}
.text-amarillo {
  color: hsl(51, 76%, 48%);
}
.text-verdeA {
  color: hsl(172, 100%, 50%);
}
/* scroll */
.cn {
  max-height: 150px;
  overflow: auto;
}
/*tabla*/
.table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}
/* th td*/
.table th,
.table td {
  padding: 10px;
  text-align: left;
}
/* hover*/
.table-hover tbody tr:hover {
  background-color: #0000004f;
}
/* iconos tabla*/
.table i {
  cursor: pointer;
}
/* linea tabla*/
thead {
  border-bottom: 1px solid #fff;
}
/* contenido*/
td {
  color: #e7e7e7b4;
}
/* title no hay*/
h5 {
  margin: 15px;
}
/* ayuda disabled */
.disabled-icon {
  pointer-events: none;
  opacity: 0.5;
}
/* cancelar */
.cance {
  background-color: #2a75d2;
}
i {
  color: #ffffff93;
}
/* boton resposive*/
.btn {
  position: absolute;
  border-radius: none;
  padding: 1px;
  color: #000000a4;

  display: none;
}
@media screen and (max-width: 1025px) {
  .btn {
    display: block;
  }
  .container {
    position: relative;
    display: inline-block;
    grid-template-columns: 1fr 1fr;
  }
  .c1 .img {
    display: none;
  }
  .cont {
    display: block;
  }
  .cv {
    height: 100vh;
  }
  iframe {
    width: 370px;
    height: 200;
  }
  h1 {
    margin-top: 20px;
    font-size: 40px;
  }
  p {
    color: #262525;
  }
  .lista {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: calc(100% - 502px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
