<div class="container">
  <div  *ngIf="mostrarComponente">
    <app-aside></app-aside>
  </div>
  <div class="cv">
    <app-head></app-head>
    <i (click)="toggleComponente()" class="btn fa-solid fa-house"></i>
    <div class="cont">
      <div class="c1">
        <div class="img">
          <img
            src="../../../assets/img/c8e0605567e98d794a7f43a7050bd998.jpg"
            alt=""
          />
        </div>
        <div>
          <h1>Sound Spoir</h1>
          <div class="row">
            <div>
              <i class="fa-brands fa-soundcloud"></i>
            </div>
            <div class="ppp">
              <p>Escucha con Spoir, para ayudar a reducir la velocidad y relajarse.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor">
        <div class="video-player-wrapper">
          <iframe
            width="550"
            height="300"
            [src]="safeVideoUrl"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
    <div class="form">
      <div class="h">
        <h3>{{ accion }} PlayList</h3>
      </div>
      <form [formGroup]="addVideo" (ngSubmit)="addEditVideo()" action="">
        <div class="row">
          <label for="nombre">Música: </label>
          <input
            formControlName="name"
            class="form-control"
            type="text"
            placeholder="Músic"
          />
        </div>
        <div class="row">
          <label for="descripcion">Artista: </label>
          <input
            formControlName="description"
            class="form-control"
            type="text"
            placeholder="This thender Appeal"
          />
        </div>
        <div class="row">
          <label for="url">Url: </label>
          <input
            formControlName="url"
            class="form-control"
            type="url"
            placeholder="https://youtu.be/16vYufC54wc"
          />
          <span
            style="
              color: red;
              display: block;
              text-align: left;
              font-weight: 600;
            "
            *ngIf="addVideo.get('url')?.dirty && addVideo.get('url')?.invalid"
          >
            Invalido
          </span>
        </div>
        <div>
          <button type="submit" [disabled]="addVideo.invalid" type="submit">
            Aceptar
          </button>
          <div *ngIf="edit == true">
            <button
              class="cance"
              [routerLink]="['/video']"
              type="button"
              type="submit"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="lista">
      <div class="card">
        <div class="card-body">
          <h3 class="h">Listado de Reproduccion</h3>
          <div class="cn">
            <table *ngIf="listVideo.length > 0" class="table table-hover mt-3">
              <thead>
                <tr>
                  <th class="bol">Música</th>
                  <th class="bol">Artista</th>
                  <th class="bol">Link</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let video of listVideo">
                  <td>{{ video.name | titlecase }}</td>
                  <td>{{ video.description | titlecase }}</td>
                  <td>{{ video.url }}</td>
                  <td>
                    <i
                      (click)="descargarVideoUsuario(video.id)"
                      [ngClass]="{ 'disabled-icon': edit }"
                      class="fa-solid fa-download text-amarillo"
                    ></i>
                  </td>
                  <td>
                    <i
                      (click)="addPlayMusic(video.id)"
                      [ngClass]="{ 'disabled-icon': edit || video.state }"
                      class="fa-sharp fa-solid fa-headphones text-verdeA"
                    ></i>
                  </td>
                  <td>
                    <i
                      (click)="verVideo(video.url)"
                      class="fa-solid fa-play text-verde"
                      [ngClass]="{ 'disabled-icon': edit }"
                    ></i>
                  </td>
                  <td>
                    <i
                      [routerLink]="['/update', video.id]"
                      class="far fa-solid fa-pen-to-square text-info"
                      [ngClass]="{ 'disabled-icon': edit }"
                    >
                    </i>
                  </td>
                  <td>
                    <i
                      (click)="deleteVideo(video.id)"
                      class="far fa-solid fa-trash-can text-danger"
                      [ngClass]="{ 'disabled-icon': edit }"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="listVideo.length == 0" class="row mt-5">
          <h5>No hay videos por mostrar.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
