/*Contenedor */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: black;
  margin: 0;
  padding: 0;
}
/* Header*/
.header > * {
  width: 80%;
}
/* body*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(21, 21, 21);
  bottom: 0;
}
/* Contenedor form*/
.main {
  margin: auto;
  width: 38%;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
/* Title */
h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
/* Input - label*/
.cont-google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
/* google */
.google {
  text-align: center;
  border: 1px solid #e7e7e78f;
  border-radius: 40px;
  padding: 13px;
  width: 50%;
  text-align: center;
}
.google i {
  color: #fff;
  font-size: 20px;
  margin-right: 17px;
}
.google a {
  text-decoration: none;
  border: none;
}
/* Formulario*/
.form {
  border-top: 0.2px solid #ffffff57;
  border-bottom: 0.2px solid #ffffff57;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

/* Label */
.roww-input-label label {
  color: #fff;
  text-align: left;
  font-size: 18px;
}
/* Input */
.roww-input-label input {
  background-color: hsl(0, 0%, 7%);
  border: 0.5px solid #cccccc86;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #fff;
}
/* Hover input*/
.roww-input-label input:hover {
  border: 0.5px solid #cccccc;
}

/* Posicion label*/
.label {
  text-align: left;
  margin-left: 30px;
}

/* Boton */
.btn {
  background-color: #1fdf64;
  width: 85%;
  padding: 15px;
  border-radius: 80px;
  font-weight: 600;
  border: none;
  color: black;
  font-size: 17px;
  transition: transform 0.3s;
}
/* Hover boton*/
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*enlaces*/
a {
  color: #fff;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 17px;
}

/* enlaces top */
.a {
  text-decoration: none;
  margin-top: 30px;
}
/* span no tienes cuenta*/
span {
  color: #ccc;
}
/* Hover enlaces*/
a:hover {
  border-bottom: 2px solid #12d15286;
  color: #1fdf64;
}
/* validaciones */
input.valid {
  border: 0.5px solid #12d15286;
  border-color: green;
}

input.invalid {
  border: 0.5px solid #d1121286;
  border-color: red;
}

input.valid:focus {
  border: 0.5px solid #12d15286;
  outline-color: green;
}

input.invalid:focus {
  border: 0.5px solid #d1121286;
  outline-color: red;
}
button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* MENOR A 760px*/
@media screen and (max-width: 1025px) {
  body {
    display: inline;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    bottom: 0;
  }
  .main {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    padding: 0px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .form {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cont-google {
    padding: 0px;
    margin: auto;
    width: 90%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .google {
    width: 90%;
  }
  .label {
    margin-top: 10px;
  }
}
