/* Header*/
/*Contenedor */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: black;
  margin: 0;
  padding: 0;
}
/* Header*/
.container > * {
  width: 80%;
}
/* Cuerpo*/
body {
  background-color: rgb(21, 21, 21);
  bottom: 0;
}
/* Contenedor form*/
.main {
  margin: auto;
  width: 40%;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
/* Title */
h1 {
  color: #fff;
  font-size: 40px;
}
/* Formulario*/
.form {
  border-top: 0.2px solid #ffffff57;
  border-bottom: 0.2px solid #ffffff57;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
/* Input - label*/
.roww {
  display: block;
  text-align: center;
}
/* Label */
.roww label {
  color: #fff;
  text-align: left;
  font-size: 18px;
}
/* Input */
.roww input {
  background-color: hsl(0, 0%, 7%);
  border: 0.5px solid #cccccc86;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #fff;
}
/* Hover input*/
.roww input:hover {
  border: 0.5px solid #cccccc;
}
/* Boton */
.btn {
  background-color: #1fdf64;
  width: 85%;
  padding: 15px;
  border-radius: 80px;
  font-weight: 600;
  border: none;
  color: black;
  font-size: 17px;
  transition: transform 0.3s;
}
/* Hover boton*/
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* Posicion label*/
.l {
  text-align: left;
  margin-left: 30px;
}
/* enlaces top */
.a {
  text-decoration: none;
  margin-top: 30px;
}
/*enlaces*/
a {
  color: #fff;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 17px;
}
/* span no tienes cuenta*/
span {
  color: #ccc;
}
/* Hover enlaces*/
a:hover {
  color: #1fdf64;
}
