<div class="header">
  <div>
    <div class="log">
      <img width="120px" src="../../../assets/Logo2.png" alt="" />
    </div>
  </div>
</div>
<body>
  <div class="main">
    <h1>Inicia sesión en Spoir</h1>
    <div class="cont-google">
      <div class="google">
        <i class="fa-brands fa-google"></i
        ><a (click)="accesUserGoogle()">Continuar con Google</a>
      </div>
    </div>
    <div class="form">
      <form [formGroup]="accesUser" (ngSubmit)="accesUsuario()" action="">
        <div class="roww-input-label">
          <div class="label">
            <label for="email">Email</label>
          </div>
          <div>
            <input
              formControlName="email"
              type="email"
              placeholder="Email o nombre de usuario"
              [ngClass]="{
                valid: accesUser.get('email')!.valid,
                invalid:
                  accesUser.get('email')!.invalid &&
                  (accesUser.get('email')!.dirty ||
                    accesUser.get('email')!.touched)
              }"
            />
          </div>
        </div>
        <div class="roww-input-label">
          <div class="label">
            <label for="password">Contraseña</label>
          </div>
          <div>
            <input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
              [ngClass]="{
                valid: accesUser.get('password')!.valid,
                invalid:
                  accesUser.get('password')!.invalid &&
                  (accesUser.get('password')!.dirty ||
                    accesUser.get('password')!.touched)
              }"
            />
          </div>
        </div>
        <div class="roww-input-label">
          <button
            type="submit"
            [disabled]="accesUser.invalid"
            routerLinkActive="router-link-active"
            [ngClass]="{
              disabled:
                accesUser.get('email')!.invalid ||
                accesUser.get('password')!.invalid
            }"
            class="btn"
          >
            Iniciar sesión
          </button>
        </div>
        <div class="a">
          <a href="">¿Has olvidado tu contraseña?</a>
        </div>
      </form>
    </div>
    <div class="a">
      <span>¿No tienes cuenta? </span
      ><a [routerLink]="['/register']" href="">Regístrate en Spoir</a>
    </div>
  </div>
</body>
